In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Base de apoio com os ids das empresas e portfolio referência

In [2]:
companies_ids = pd.read_csv('../../csvs/all_companies_ids.csv')

# Informação das empresas do mercado - Potenciais clientes

In [3]:
df = pd.read_csv('../../csvs/estaticos_market.csv')
df.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462298 entries, 0 to 462297
Columns: 182 entries, Unnamed: 0 to qt_filiais
dtypes: bool(9), float64(144), int64(2), object(27)
memory usage: 614.1+ MB

# Base do mercado incluindo a informação do portfolio referência

In [5]:
df_merged = df.merge(companies_ids, left_on='id', right_on='id')
df_merged

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,empresa
0,369,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1
1,604,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,0.0,0.0,2.0,NaN,-100.000000,0.000000,4,Port_1
2,1646,09e95c1a84049001d086470a8f320a19b076f955a89122...,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AC,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,11.243836,10 a 15,...,357.066667,25.533333,1361.0,1361.0,1383.0,0.000000,-1.590745,0.000000,0,Port_2
3,1703,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1
4,2521,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1381,461443,31438f752b4a846638c0acd98c3078d7e1ee83204e0388...,True,SERVICO SOCIAL AUTONOMO,RO,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DE EDUCACAO,SERVIÇO,18.580822,15 a 20,...,300.466667,2.066667,92.0,118.0,132.0,-22.033898,-30.303030,28.708134,10,Port_2
1382,461483,4fbebb5a4ea9d2c5da87f446aff48403f0409e2e8fe381...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,31.868493,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1
1383,461834,8a226339b331b5aec24877a69edc40070b9dd7e71b2194...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,41.164384,> 20,...,258.033333,4.866667,137.0,128.0,511.0,7.031250,-73.189824,3.773585,6,Port_2
1384,461978,8bbff0a749bceb9749c5edd90373270ff9109f069ef27c...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.969863,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1
1385,462190,970485e6b8abe52d8fb4e0bf060fb6f0f4f8576cb7583d...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,3.994521,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Port_1

In [6]:
df_merged.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,1386.000000,1386.000000,37.000000,5.00000,749.000000,749.000000,396.000000,1386.000000,1386.000000,40.000000,...,932.000000,932.000000,932.000000,962.000000,962.000000,962.000000,927.000000,920.000000,962.000000,1386.000000
mean,227538.268398,20.389162,34.621622,15.80000,11.317757,9.137517,14.479798,6.083694,7.046898,40.650000,...,99.404478,348.300072,17.759192,347.556133,345.508316,394.441788,17.694943,48.047779,11.230003,2.386003
std,135602.702954,14.168201,58.245339,16.22344,29.340942,23.868872,56.450826,28.064988,25.755389,68.220814,...,70.547721,572.271154,24.183195,808.076300,809.067087,866.530456,417.918395,793.668496,18.809209,13.836030
min,369.000000,0.052055,10.000000,2.00000,0.000000,0.000000,1.000000,0.000000,0.000000,10.000000,...,5.406667,5.800000,1.933333,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,108852.500000,8.234932,15.000000,6.00000,1.000000,0.000000,2.000000,0.000000,0.000000,15.000000,...,42.880083,130.733333,2.666667,79.000000,76.250000,81.000000,0.000000,-20.513457,0.000000,0.000000
50%,229412.500000,18.921918,15.000000,6.00000,4.000000,2.000000,4.000000,0.000000,0.000000,17.500000,...,74.967522,258.316667,6.883333,166.500000,163.000000,182.000000,0.000000,-5.882353,2.144004,0.000000
75%,347355.000000,29.510274,30.000000,25.00000,10.000000,7.000000,11.000000,3.000000,5.000000,30.000000,...,155.144349,470.666667,26.241667,355.000000,353.750000,401.500000,2.873563,0.000000,17.086276,1.000000
max,462190.000000,55.126027,360.000000,40.00000,359.000000,215.000000,912.000000,663.000000,371.000000,385.000000,...,459.969011,5099.066667,409.133333,17952.000000,17943.000000,18346.000000,12700.000000,17800.000000,213.333333,374.000000

# Tipos de dados

In [ ]:
aux = pd.DataFrame({'variables': df_merged.columns,
                    'tipos': df_merged.dtypes,
                    'percentual_faltante': df_merged.isna().sum() / df_merged.shape[0]})
pivot = pd.pivot_table(aux, index=['tipos', 'variables'])
missing_info = pivot.sort_values(by='percentual_faltante',  ascending=False)
plt.hist(missing_info['percentual_faltante'])

# Problema - Quais são os clientes potenciais das empresas 1, 2 e 3

- Quais variaveis podem ser utilizadas
- Quais as caracteristicas dos clientes de cada empresa?
    * Tamanho
    * Natureza jurídica
    * Número de funcionários
    * Localização
    * ramo de atuação
    * quantidade de veículos

# Análise Exploratória

In [ ]:
aux = pd.DataFrame({'variables': df_merged.columns,
                    'tipos': df_merged.dtypes,
                    'percentual_faltante': df_merged.isna().sum() / df_merged.shape[0]})
data_missing_higher_40 = aux[aux['percentual_faltante']>0.4]
data_missing_lower_equal_40 = aux[aux['percentual_faltante']==0]

variables_missing_higher_40 = [item for item in data_missing_higher_40['variables']]
variables_missing_lower_equal_40 = [item for item in data_missing_lower_equal_40['variables']]

## Analisando dados faltantes

In [ ]:
# returns for each column their values and quatity. And percentage
def val_counts():
    columns = variables_missing_lower_equal_40
    for column in columns:
        print(f'-------> Coluna: {column}')
        print(df[column].value_counts())
        obj = {
            "total": len(df[column]),
            "percentages": (df[column].value_counts()/df[column].count())*100
        }
        print(obj)
    
val_counts()

### Das 185 colunas identificamos 78 variaveis com menos de 40% dos dados faltantes

In [17]:
len(variables_missing_lower_equal_40)

NameError: name 'variables_missing_lower_equal_40' is not defined

In [ ]:

new_data = df_merged[variables_missing_lower_equal_40]

# Variaveis por tipo em ordem decrescente em % de dados faltantes

In [ ]:
pd.set_option("max_rows", None)
aux = pd.DataFrame({'variables': new_data.columns,
                    'var_types': new_data.dtypes,
                    'missing_percentages': new_data.isna().sum() / new_data.shape[0]})
pivot = pd.pivot_table(aux, index=['var_types', 'variables'])
pivot.sort_values(by=['var_types','missing_percentages'],  ascending=False)

# Estatistica descritiva - Dados sem as colunas com mais de 40% dos dados faltantes

In [ ]:
pd.set_option("max_columns", None)
new_data.describe()

In [ ]:
new_data_grouped = new_data.groupby("empresa")
new_data_grouped['id'].count()

In [ ]:
new_data_grouped = new_data.groupby("empresa")
new_data_grouped['idade_empresa_anos'].mean()

In [ ]:
sns.barplot(x='idade_empresa_anos',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='vl_total_veiculos_leves',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='vl_total_veiculos_leves',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='vl_total_veiculos_pesados',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='vl_total_veiculos_pesados_grupo',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='vl_total_veiculos_leves_grupo',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='nu_meses_rescencia',y='empresa',data=new_data)

In [ ]:
new_data_grouped['nu_meses_rescencia'].mean()

In [ ]:
sns.barplot(x='vl_frota',y='empresa',data=new_data)

In [ ]:
new_data_grouped['vl_frota'].mean()

In [ ]:
sns.barplot(x='empsetorcensitariofaixarendapopulacao',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='qt_socios',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='media_meses_servicos',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='max_meses_servicos',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='min_meses_servicos',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='qt_funcionarios',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='qt_funcionarios_24meses',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='qt_funcionarios_12meses',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='tx_crescimento_12meses',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='tx_crescimento_24meses',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='tx_rotatividade',y='empresa',data=new_data)

In [ ]:
sns.barplot(x='qt_filiais',y='empresa',data=new_data)